<div class="container-fluid mt-3" id="list-invoice">


  <!-- Sidebar  -->
  <!-- <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Clinic Management system</h3>
      </div>

      <ul class="list-unstyled components">
          <p>Edit Invoices</p>
          <li>
              <a [routerLink]="['/profile']" data-toggle="collapse">Profile</a>

          </li>

          <li class="nav-item dropdown" ngbDropdown>
              <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false" ngbDropdownToggle>
                  Invoice
              </a>
              <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
                  <li ngbDropdownItem><a class="dropdown-item" [routerLink]="['/invoice/list']">List</a></li>
                  <li ngbDropdownItem><a class="dropdown-item" [routerLink]="['/invoice/add']">Add</a></li>
                  <li ngbDropdownItem><a class="dropdown-item" [routerLink]="['/invoice/edit']">Edit</a></li>
              </ul>
          </li>
          <li>
              <a [routerLink]="['/doctorAppointment']" data-toggle="collapse">Doctors Appointment</a>
          </li>

      </ul>
  </nav> -->
  <div class="col-md-4 col-sm-12">
    <app-sidebar></app-sidebar>
  </div>


  <!-- ===================== -->
  <div class="container col-md-6 col-sm-12">
    
  <!-- ================== -->

  <div class="right ">
    <div class="card">
      <div class="card-header">Edit Invoice</div>
      <div class="card-body">
        
        <div class="row g-3 my-2">
          <div class="col-md-8">
            <label for="inputFirst" class="form-label">Payment</label>
            <input type="text" class="form-control" aria-label="Last name" id="inputFirst" name="firstname"
              [(ngModel)]="invoice.paymentMethod" />
          </div>
          <div class="col-md-8">
            <label for="inputLast" class="form-label">Total Amount</label>
            <input type="text" class="form-control" aria-label="Last name" id="inputLast" name="lastname"
              [(ngModel)]="invoice.totalAmount" />
          </div>
          <div class="col-md-8">
            <label for="inputEmail" class="form-label">Total Paid</label>
            <input type="email" class="form-control" id="inputEmail" [(ngModel)]="invoice.totalPaid" />
          </div>
          <div class="col-md-8">
            <label for="inputLast" class="form-label">Amount Left</label>
            <input type="text" class="form-control" aria-label="Last name" id="inputLast" name="lastname" [(ngModel)]="invoice.amountLeft" />
          </div>
         
        </div>
      </div>
    </div>

  </div>
  </div>
</div>

