
<div class="list-group" id="myList" role="tablist">
  <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/doctor/profile" routerLinkActive="active" role="tab"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
  <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/doctor/appointments" routerLinkActive="active" role="tab"><i class="fa fa-calendar" aria-hidden="true"></i> Appointments </a>
  <a class="list-group-item list-group-item-action" data-toggle="list" routerLink="/doctor/prescriptions" routerLinkActive="active" role="tab"><fa-icon [icon] ="faprescription"></fa-icon> Prescriptions </a>
</div>

<div class="tab-content">
  <div class="tab-pane" id="profile" role="tabpanel">...</div>
  <div class="tab-pane" id="appointments" role="tabpanel">...</div>
  <div class="tab-pane" id="prescriptions" role="tabpanel">...</div>
</div>
