<div class="row g-0">
  <div id="sideNave" class="col-md-3 col-2">
<app-side-bar></app-side-bar>
</div>
<div class="col-md-9 col-10 clinic">
<div *ngIf="showClinc._id != ''">
  <h3 class="mt-5">Clinic Details</h3>
  <table class="table table-primary">
    <thead>
      <th>ID</th>
      <th>governorate</th>
      <th>address</th>
      <th>startTime</th>
      <th>endTime</th>
      <th>options</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ showClinc._id }}</td>
        <td>{{ showClinc.governorate }}</td>
        <td>{{ showClinc.address }}</td>
        <td>{{ showClinc.startTime }}</td>
        <td>{{ showClinc.endTime }}</td>
        <td>
          <button class="btn btn-primary" (click)="back()">Back to list</button>
        </td>
      </tr>
    </tbody>
  </table>
  <label for="governorate" class="form-label">ID</label>
  <input id="governorate" class="form-control" type="text" [(ngModel)]="showClinc.governorate" />

  <label for="governorate" class="form-label">Governorate</label>
  <input id="governorate" class="form-control" type="text" [(ngModel)]="showClinc.governorate" />

  <label for="address" class="form-label">Address</label>
  <input id="address" class="form-control" type="text" [(ngModel)]="showClinc.address" />

  <label for="startTime" class="form-label">StartTime</label>
  <input id="startTime" class="form-control" [(ngModel)]="showClinc.startTime" />

  <label for="endTime" class="form-label">EndTime</label>
  <input id="endTime" class="form-control" [(ngModel)]="showClinc.endTime" />
  <button class="btn btn-primary mt-3" (click)="back()">Back to list</button>
</div>
</div>
</div>
