

<div class="container-fluid" id="list-invoice">

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Clinic Management system</h3>
        </div>

        <ul class="list-unstyled components">
            <p>List Invoices</p>
            <li>
                <a [routerLink]="['/profile']" data-toggle="collapse">Profile</a>

            </li>

            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" ngbDropdownToggle>
                    Invoice
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
                    <li ngbDropdownItem><a class="dropdown-item" [routerLink]="['/invoice/list']">List</a></li>
                    <li ngbDropdownItem><a class="dropdown-item" [routerLink]="['/invoice/add']">Add</a></li>
                    <li ngbDropdownItem><a class="dropdown-item" [routerLink]="['/invoice/edit']">Edit</a></li>
                </ul>
            </li>
            <li>
                <a [routerLink]="['/doctorAppointment']" data-toggle="collapse">Doctors Appointment</a>
            </li>

        </ul>
    </nav>


</div>



<!-- ===================================================================== -->
    
    


<table class="table table-hover table-bordered">
    <thead >
        <!-- <th>Id</th> -->
        <th>Payment Method</th>
        <th>Total Amount</th>
        <th>Total Paid</th>
        <th>Amount Left</th>
        <th>Operation</th>
        
    </thead>
    <tbody>
        <tr *ngFor="let item of invs">
            <!-- <td>{{item._id}}</td> -->
            <td>{{item.paymentMethod}}</td>
            <td>{{item.totalAmount}}</td>
            <td>{{item.totalPaid}}</td>
            <td>{{item.amountLeft}}</td>
            <td>
                <a [routerLink]="['/invoice/edit',item._id]" id="edit">Edit</a>
            </td>
        </tr>
    </tbody>
</table>



<!-- ============================================================== -->


</div>