<div class="row g-0">
  <div id="sideNave" class="col-md-3 col-2">
    <app-side-bar></app-side-bar>
</div>
<div class="col-md-9 col-10 clinic" >
<h3 class=" mt-5 mb-5">Add Clinc</h3>



        <label for="governorate" class="form-label">Governorate</label>
        <input id="governorate" class="form-control" type="text" [(ngModel)]="clinc.governorate" />

        <label for="address" class="form-label">Address</label>
        <input id="address" class="form-control" type="text" [(ngModel)]="clinc.address" />

        <label for="startTime" class="form-label">StartTime</label>
        <input id="startTime" class="form-control" [(ngModel)]="clinc.startTime" />

        <label for="endTime" class="form-label">EndTime</label>
        <input id="endTime" class="form-control" [(ngModel)]="clinc.endTime" />




<div class="container mt-5">
  <h3 class="mt-5">Add medicines to clinic</h3>
  <table *ngIf="medicins" class="table table-hover">
    <thead>
      <tr>
       <th>ID</th>

       <th>productionDate</th>
       <th>expirationDate</th>
       <th>price</th>
       <th>description</th>
       <th>Add</th>

     </tr>
    </thead>
    <tr *ngFor="let medicin of medicins">
      <td>{{medicin?._id}}</td>
      <td>{{medicin?.productionDate}}</td>
      <td>{{medicin?.expirationDate}}</td>
      <td>{{medicin?.price}}</td>
      <td>{{medicin?.description}}</td>
      <td>
        <button class="btn btn-success text-black" (click)="add(medicin._id)">Add</button>
    </tr>
  </table>
  <button class="btn btn-success" (click)="save()">Add clinic</button>
</div>
</div>
</div>





