
<div class="container-fluid">
  <h1>Updating Doctor Form</h1>
  <form #userForm = "ngForm">
    <!-- {{userForm.value | json}} -->
    <hr/>
    <!-- {{retrievedDoc | json}} -->

  <!-- File Input -->
    <div class="form-group">
      <label for="exampleInputFirstName1" class="form-label">First name:</label>
      <input type="text" class="form-control" name="fname" [(ngModel)] = "retrievedDoc.userRef.fname" disabled>
    </div>
    <div class="form-group">
      <label for="exampleInputLastName1" class="form-label">Last name:</label>
      <input type="text" class="form-control" name="lname" [(ngModel)] = "retrievedDoc.userRef.lname" disabled>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Email:</label>
      <input type="email" class="form-control"name="email" [(ngModel)] = "retrievedDoc.userRef.email" disabled>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label">Password:</label>
      <input type="password" class="form-control" name="password" [(ngModel)] = "retrievedDoc.userRef.password" disabled>
    </div>
    <div class="form-group">
      <label for="exampleInputImage1" class="form-label">Profile Image:</label>
      <input name="image" #doctorimg type="file" class="form-control" disabled >
    </div>
    <div class="form-group">
      <label for="exampleInputAge1" class="form-label">Age:</label>
      <input type="text" class="form-control" name="age" [(ngModel)] = "retrievedDoc.userRef.age" disabled>
    </div>
    <div class="form-group">
      <label for="exampleInputPhoneNumber1" class="form-label">Phone Number:</label>
      <input type="text" class="form-control" name="phoneNumber" [(ngModel)] = "retrievedDoc.userRef.phoneNumber" disabled>
    </div>
    <div class="form-group">
      <label for="exampleInputGender1" class="form-label">Gender:</label>
      <input name="gender"  type="text" class="form-control" [(ngModel)] = "retrievedDoc.userRef.gender"  disabled>
    </div>
    <div class="form-group">
      <label for="exampleInputuserType1" class="form-label">userType:</label>
      <input name="userType"  type="text" class="form-control" [(ngModel)] = "retrievedDoc.userRef.userType" disabled>
    </div>
    <div class="form-group">
      <label for="exampleInputVezeeta" class="form-label">Vezeeta:</label>
      <input name="vezeeta"  type="text" class="form-control" [(ngModel)] = "retrievedDoc.vezeeta">
    </div>
    <div class="form-group">
      <label for="exampleInputImage1" class="form-label">PPL Image:</label>
      <input name="ppl" #ppl type="file" class="form-control" disabled >
    </div>
    <div class="form-group">
      <label for="exampleInputSpec" class="form-label">Specialization:</label>
      <input name="specialization" ngModel type="text" class="form-control" [(ngModel)] = "retrievedDoc.specialization">
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputClinicid1" class="form-label">ClinicId:</label>
      <input type="text" class="form-control" name="clinicid" [(ngModel)] = "retrievedDoc.clinic">
    </div> -->
    <div class="form-group">
      <label for="exampleInputClinicid1" class="form-label">Clinic</label>
      <select name="clinic"  class="form-control" [(ngModel)] = "retrievedDoc.clinicId" >
        <option *ngFor="let clinic of clinics" [value]="clinic._id" >{{clinic.governorate}}</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" (click)="editDoctor()"> Submit </button>
    </div>
  </form>
</div>
