/* .navbar-custom
{
  height:100px;
  background-color:#f2f2f2;
} */
/* .welcome
{
  border:2px solid #ccc;
  padding:10px;
  margin:10px;
  outline:2px solid #080;
  width:100px;
  height:100px;

} */
