<p>receptionist-details works!</p>
<div class="container">
  <div class="card" style="width: 18rem;">
    <img src="{{this.recepService.baseUrl + this.retrievedRecep.userRef?.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{this.retrievedRecep.userRef?.fname}} {{this.retrievedRecep.userRef?.lname}}</h5>
      <ul >
        <li>salary: {{retrievedRecep.salary}}</li>
        <li>age: {{retrievedRecep.userRef?.age}}</li>

      </ul>
      <button href="#" class="btn btn-primary" routerLink="/admin/edit_receptionist/{{this.retrievedRecep._id}}">Edit Receptionist Profile</button>
    </div>
  </div>
</div>
