<div class="container">
  <ul>
    <li class=" active">
      <a class="" href="" routerLink="">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="">
      <a class="" href="" routerLink="profile">profile</a>
    </li>
    <li class="">
      <a class="" href="" routerLink="clinic">clinics</a>
    </li>
    <li class="">
      <a class="" href="" routerLink="doctor">doctors</a>
    </li>
    <li class="">
      <a class="" href="" routerLink="add_receptionist">add_receptionists</a>
    </li>
    <li class="">
      <a class="" href="" routerLink="edit_receptionist">edit_receptionists</a>
    </li>
    <li class="">
      <a class="" href="" routerLink="list_receptionist">list_receptionists</a>
    </li>
    <li class="">
      <a class="" href="" routerLink="medicine">medicines</a>
    </li>
    <li class="">
      <a class="" href="" routerLink="report">reports</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
