<div class="container-fluid">
  <h1>Adding Receptionist Form</h1>
  <form #userForm = "ngForm"  (ngSubmit)="onSubmit()">
    <!-- {{userForm.value | json}} -->
    <hr/>
    {{newRecep | json}}

  <!-- File Input -->
    <div class="form-group">
      <label for="exampleInputFirstName1" class="form-label">First name:</label>
      <input type="text" class="form-control" name="fname" [(ngModel)] = "newRecep.fname">
    </div>
    <div class="form-group">
      <label for="exampleInputLastName1" class="form-label">Last name:</label>
      <input type="text" class="form-control" name="lname" [(ngModel)] = "newRecep.lname">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Email:</label>
      <input type="email" class="form-control"name="email" [(ngModel)] = "newRecep.email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label">Password:</label>
      <input type="password" class="form-control" name="password" [(ngModel)] = "newRecep.password">
    </div>
    <div class="form-group">
      <label for="exampleInputImage1" class="form-label">Profile Image:</label>
      <input name="image" #recepimg type="file" class="form-control" >
    </div>
    <div class="form-group">
      <label for="exampleInputAge1" class="form-label">Age:</label>
      <input type="text" class="form-control" name="age" [(ngModel)] = "newRecep.age">
    </div>
    <div class="form-group">
      <label for="exampleInputPhoneNumber1" class="form-label">Phone Number:</label>
      <input type="text" class="form-control" name="phoneNumber" [(ngModel)] = "newRecep.phoneNumber">
    </div>
    <div class="form-group">
      <label for="exampleInputGender1" class="form-label">Gender:</label>
      <input name="gender"  type="text" class="form-control" [(ngModel)] = "newRecep.gender" >
    </div>
    <div class="form-group">
      <label for="exampleInputuserType1" class="form-label">userType:</label>
      <input name="gender"  type="text" class="form-control" [(ngModel)] = "newRecep.userType">
    </div>
    <div class="form-group">
      <label for="exampleInputSalary1" class="form-label">Salary:</label>
      <input name="salary" ngModel type="text" class="form-control" [(ngModel)] = "newRecep.salary">
    </div>
    <div class="form-group">
      <label for="exampleInputClinicid1" class="form-label">ClinicId:</label>
      <input type="text" class="form-control" name="clinic" [(ngModel)] = "newRecep.clinicId">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" > Submit </button>
    </div>
  </form>
</div>

