
<!-- <div class="row g-0 d-flex"> -->
  <!-- <div id="sideNave" class="col-md-3 col-2"> -->
    <div  id="sideNave" class="row g-0">
    <ul >
       <li class=" active">
        <!-- <span class="fa fa-star"></span> -->
        <a routerLink="/admin" ><span class="pi pi-palette"></span></a>
        <a class="" href="" routerLink="/admin" class="hide">Dashboard<span class="sr-only">(current)</span>

        </a>
      </li>
      <li class="">
        <a routerLink="/profile" ><span class="pi pi-user"></span></a>
        <a class="" href="" class="hide" routerLink="/profile">profile</a>
      </li>


      <li class="">
        <a  routerLink="/admin/list_doctors"><span class="pi pi-users"></span></a>
        <a class="" href="" routerLink="/admin/list_doctors" class="hide">doctors</a>
      </li>
      <li>
        <a  routerLink="/admin/list_receptionists"><span class="pi pi-users"></span></a>
        <a class="" href="" routerLink="/admin/list_receptionists" class="hide">receptionists</a>
      </li>
      <li class="">
        <a routerLink="/admin/list_clinic"> <span class="fa fa-hospital-o"></span></a>
        <a class=""  routerLink="/admin/list_clinic" class="hide">clinics</a>
      </li>
      <li class="">
        <a routerLink="/admin/MedicineList"><span class="pi pi-heart-fill"></span></a>
        <a class="" href="" routerLink="/admin/MedicineList"  class="hide">medicines</a>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
    <router-outlet></router-outlet>
  <!-- </div> -->
<!-- </div> -->



