<div class="row g-0">
  <div id="sideNave" class="col-md-3 col-2">
    <app-side-bar></app-side-bar>
</div>
<div class="col-md-9 col-10 medicin" >

<h3>Add Medicin</h3>

<label for="Name" class="form-label">Name</label>
<input id="Name" class="form-control" [(ngModel)]="medicine.name" />

<label for="productionDate" class="form-label" >ProductionDate</label>
<input id="productionDate" class="form-control" type="date" [(ngModel)]="medicine.productionDate" />

<label for="expirationDate" class="form-label">ExpirationDate</label>
<input id="expirationDate" class="form-control" type="date" [(ngModel)]="medicine.expirationDate" />

<label for="price" class="form-label">Price</label>
<input id="price" class="form-control" [(ngModel)]="medicine.price" />

<label for="description" class="form-label">Description</label>
<input id="description" class="form-control" [(ngModel)]="medicine.description"  />


<h3 class="mt-5">Assign medicines to Clinic</h3>

<div class="container mt-5">
  <table *ngIf="clinics" class="table table-hover">
    <thead>
      <tr>
       <th>ID</th>
       <th>governorate</th>
       <th>address</th>
       <th>startTime</th>
       <th>endTime</th>
       <th>Add</th>
       <!-- <th>Medicins</th> -->
     </tr>
    </thead>
    <tbody>
    <tr *ngFor="let clinic of clinics">
      <td>{{clinic?._id}}</td>
      <td>{{clinic?.governorate}}</td>
      <td>{{clinic?.address}}</td>
      <td>{{clinic?.startTime}}</td>
      <td>{{clinic?.endTime}}</td>
      <td>
        <button class="btn btn-success text-black" (click)="add(clinic._id)">Add</button>
    </tr>
  </tbody>
  </table>
  <button class="btn btn-success" (click)="save()">Add Medicine</button>
</div>
</div>
</div>
