<h3>Add Medicin</h3>
<table class="table table-success">
  <thead>
    <th>Name</th>
    <th>productionDate</th>
    <th>expirationDate</th>
    <th>price</th>
    <th>description</th>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="text" [(ngModel)]="medicine.name" />
      </td>
      <td>
        <input type="date" [(ngModel)]="medicine.productionDate"/>
      </td>
      <td>
        <input type="date" [(ngModel)]="medicine.expirationDate" />
      </td>
      <td>
        <input type="number" [(ngModel)]="medicine.price" />
      </td>
      <td>
        <input type="text" [(ngModel)]="medicine.description" />
      </td>
    </tr>
  </tbody>
</table>

<h3 class="mt-5">Assign medicines to Clinic</h3>

<div class="container mt-5">
  <table *ngIf="clinics" class="table table-hover">
    <thead>
      <tr>
       <th>ID</th>
       <th>governorate</th>
       <th>address</th>
       <th>startTime</th>
       <th>endTime</th>
       <th>Add</th>
       <!-- <th>Medicins</th> -->
     </tr>
    </thead>
    <tbody>
    <tr *ngFor="let clinic of clinics">
      <td>{{clinic?._id}}</td>
      <td>{{clinic?.governorate}}</td>
      <td>{{clinic?.address}}</td>
      <td>{{clinic?.startTime}}</td>
      <td>{{clinic?.endTime}}</td>
      <td>
        <button class="btn btn-success text-black" (click)="add(clinic._id)">Add</button>
    </tr>
  </tbody>
  </table>
  <button class="btn btn-success" (click)="save()">Add Medicine</button>
</div>

