<div *ngIf="clinicId != ''">
  <h3>Update Clinic</h3>
  <table class="table table-info">
    <thead>
      <th>governorate</th>
      <th>Address</th>
      <th>startTime</th>
      <th>endTime</th>
      <th>Operations</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" [(ngModel)]="updateClinic.governorate"/>
        </td>
        <td>
          <input type="text" [(ngModel)]="updateClinic.address" />
        </td>
        <td>
          <input type="text" [(ngModel)]="updateClinic.startTime" />
        </td>
        <td>
          <input type="text" [(ngModel)]="updateClinic.endTime" />
        </td>
        <td>
          <button class="btn btn-info" (click)="update()">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
