<div *ngIf="medicinId != ''">
  <h3>Update Clinic</h3>
  <table class="table table-info">
    <thead>
      <th>Name</th>
      <th>productionDate</th>
      <th>expirationDate</th>
      <th>price</th>
      <th>description</th>
      <th>operations</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" [(ngModel)]="updatMedicin.name"/>
        </td>
        <td>
          <input type="date" [(ngModel)]="updatMedicin.productionDate" />
        </td>
        <td>
          <input type="date" [(ngModel)]="updatMedicin.expirationDate" />
        </td>
        <td>
          <input type="number" [(ngModel)]="updatMedicin.price" />
        </td>
        <td>
          <input type="text" [(ngModel)]="updatMedicin.description" />
        </td>
        <td>
          <button class="btn btn-info" (click)="update()">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
