<!-- <p>doctor-add works!</p> -->
<div class="container">
  <h1>Adding Doctor Form</h1>
  <form #userForm = "ngForm"  (ngSubmit)="onSubmit()">
    <!-- {{userForm.value | json}} -->
    <hr/>
    <!-- {{newDoc | json}} -->

  <!-- File Input -->
    <div class="form-group mt-3">
      <label for="exampleInputFirstName1" class="form-label">First name:</label>
      <input type="text" class="form-control" name="fname" placeholder="as: Ahmed" [(ngModel)] = "newDoc.fname"  required>
    </div>
    <div class="form-group">
      <label for="exampleInputLastName1" class="form-label">Last name:</label>
      <input type="text" class="form-control" name="lname" placeholder="as: Mohammed" [(ngModel)] = "newDoc.lname" required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Email:</label>
      <input type="email" class="form-control"name="email" placeholder="as: Ahmed@doctor.com" [(ngModel)] = "newDoc.email" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label">Password:</label>
      <input type="password" class="form-control" name="password" placeholder="must contain letters and numbers/greater than 4 chars" [(ngModel)] = "newDoc.password" required>
    </div>
    <div class="form-group">
      <label for="exampleInputImage1" class="form-label">Profile Image:</label>
      <span style="display:inline-block; padding: 5;margin-left:5;">      (only: *.jpg, *.jpeg, *.png)</span>
      <input name="image" #doctorimg type="file" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="exampleInputAge1" class="form-label">Age:</label>
      <input type="text" class="form-control" name="age" placeholder="as: 25 etc." [(ngModel)] = "newDoc.age" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPhoneNumber1" class="form-label">Phone Number:</label>
      <input type="text" class="form-control" name="phoneNumber" placeholder="as: 010303399902" [(ngModel)] = "newDoc.phoneNumber" required>
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputGender1" class="form-label">Gender:</label>
      <input name="gender"  type="text" class="form-control" placeholder="only in: F or M" [(ngModel)] = "newDoc.gender"  required>
    </div> -->
    <div class="form-group">
      <label for="exampleInputGender1" class="form-label">Gender:</label>
      <!-- <input name="gender"  type="text" class="form-control" placeholder="only in: F or M" [(ngModel)] = "newRecep.gender"  required> -->
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1"  [(ngModel)] = "newDoc.gender" value="M">
        <label class="form-check-label" for="flexRadioDefault1">
          Male
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault2" [(ngModel)] = "newDoc.gender" value="F">
        <label class="form-check-label" for="flexRadioDefault2">
          Female
        </label>
      </div>
    </div>
    <div class="form-group">
      <!-- <label for="exampleInputuserType1" class="form-label">userType:</label> -->
      <input name="userType"  type="text" class="form-control" placeholder="only: doctor" [(ngModel)] = "newDoc.userType" type="hidden">
    </div>
    <div class="form-group">
      <label for="exampleInputVezeeta" class="form-label">Vezeeta:</label>
      <input name="vezeeta"  type="text" class="form-control" placeholder="as : 600" [(ngModel)] = "newDoc.vezeeta" required>
    </div>
    <div class="form-group">
      <label for="exampleInputImage1" class="form-label">PPL Image:</label>
      <span style="display:inline-block; padding: 5;margin-left:5;" required>      (only: *.jpg, *.jpeg, *.png)</span>

      <input name="ppl" #ppl type="file" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="exampleInputSpec" class="form-label">Specialization:</label>
      <input name="specialization" ngModel type="text" class="form-control" placeholder="as: dentist or Ophthalmologist"[(ngModel)] = "newDoc.specialization" required>
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputClinicid1" class="form-label">ClinicId:</label>
      <input type="text" class="form-control" name="clinic" placeholder="as: 623e0df6a6a27481c540d337" [(ngModel)] = "newDoc.clinicId" required>
    </div> -->
    <div class="form-group">
      <label for="exampleInputClinicid1" class="form-label">Clinic</label>
      <select name="clinic"  class="form-control" [(ngModel)] = "newDoc.clinicId" >
        <option *ngFor="let clinic of clinics" [value]="clinic._id" >{{clinic.governorate}}</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-primary mt-3" type="submit" > Submit </button>
    </div>
  </form>
</div>
